html, body {
  background-color: #bce5ff;

}

div.tooltip {
  color: white;
  background-color: #474646;
  border-radius: 8px;
  padding: 1em;
}

.title {
  font-size: 24px;
  font-family: 'arial';
  font-weight: 900;
}

.subtitle {
  font-size: 18px;
  font-family: 'arial';
  font-weight: 500;
}
